<h2 mat-dialog-title>Instructions</h2>
<mat-dialog-content>
<p>This calculator is intended to provide fee estimates for building permits, trades permits and plan review fees for both commercial and residential construction projects. Please note that this calculator is for informational purposes only and the final calculation of fees will be provided by the Development Services Customer Services Center.</p>
<p>In order to calculate an estimate please select from the drop downs a Building Type, Construction Type, Construction Scope and square feet of the project. Note that mixed use projects can be calculated by adding additional occupancies with the “Add” button which appears once all fields have values.</p>
 <p>If you have questions about how these fees are calculated please visit our <a href="http://dsinsider.com/images/Site/Documents/FAQ_New_Fee_Structure.pdf" target="_blank">FAQ</a> for more information. If you need additional assistance please feel free to email us at <a href="mailto:ds.help@raleighnc.gov">ds.help@raleighnc.gov</a>.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <!--<button mat-button mat-dialog-close>No</button>-->
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button mat-raised-button color="accent" [mat-dialog-close]="true">OK</button>
</mat-dialog-actions>