<mat-toolbar color="primary">
    <mat-toolbar-row>
      <img alt="seal" src="https://www.raleighnc.gov/content/static/images/City-Seal-BW.png" />
      <h3>City of Raleigh</h3>
    </mat-toolbar-row>
    <!-- <mat-toolbar-row>
      <span>Building Permit Calculator</span>
    </mat-toolbar-row> -->
  </mat-toolbar>
  <h1 class="mat-headline">Building Permit Fee Calculator</h1>

<development-entry style="width:80%" (isResidentialUpdates)="handleIsResidentialUpdated($event)"></development-entry>