<h2 mat-dialog-title>Disclaimer</h2>
<mat-dialog-content>
  This calculator is made available by the City of Raleigh for informational and planning purposes only and may not reflect the final cost to obtain plan review, building and trade permits. By using this calculator you understand that the fee details provided are estimates based on the information entered and the final calculation of fees will be provided by the Development Services Customer Services Center.  
  <p class="mat-caption">*note this site is currently in beta, when officially launched it will no longer be available at this web address.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <!--<button mat-button mat-dialog-close>No</button>-->
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button mat-raised-button color="accent" [mat-dialog-close]="true">Agree</button>
</mat-dialog-actions>