<mat-toolbar color="primary">

        <mat-toolbar-row class="title-row">
            <img alt="seal" src="../assets/raleigh-logo-icon.png" />

          <span>RALEIGH FEE CALCULATOR</span>
        </mat-toolbar-row>

      </mat-toolbar>
      <div class="dark-class calculator-row">
          <mat-form-field>
              <mat-select placeholder="Select Calculator" (change)="go($event)" [value]="selectedCalculator" >
                <mat-option *ngFor="let calculator of calculators" [value]="calculator.route">
                  {{ calculator.label }}
                </mat-option>
              </mat-select>
            </mat-form-field> 
            
      </div>

        <!-- <h1 class="mat-title">Permit Fee Calculators</h1>
        <div class="button-row" *ngFor="let calculator of calculators">
            <button mat-raised-button color="primary" [routerLink]="calculator.route">{{calculator.label}}</button>
        </div> -->
        <h1 class="mat-headline">Total Fees: {{total | currency}}</h1>

        <router-outlet (onTotal)="onTotal($event)"></router-outlet>


