
.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
    margin-top: 1em;
  }


img {
   max-width: 150px;
   margin-right: 10px;

}

.mat-title {
    text-align: center;
}

mat-form-field, .mat-headline {
    display: flex;
    justify-content: center;
}

.calculator-row .mat-form-field{
    font-size: initial;
    width: 100%
}

.calculator-row {
    padding: 10px 10px 10px 10px;
}

.mat-headline {
    padding: 10px 0 0 0;
}

.summary {
    display: flex;
    flex-flow: column;
    align-items: center;
}


.dark-class .mat-stroked-button {
    color:white;
}

.mat-toolbar {
    font-family: Montserrat, sans-serif;
    font-size: 28px !important;
}

.mat-toolbar.phone{
    font-family: Montserrat, sans-serif;
    font-size: 16px !important;
 }

 .mat-toolbar  .title-row{
    height: 100px !important;
    width: 100% !important;
    white-space: normal !important;
 }

 .mat-toolbar.phone, .title-row{
    height: 100px !important;
    width: 100% !important;
    white-space: normal !important;
    
 }
 #navigation::before {
    display: none;

}

#Header {
    height: 150px;
    display: flex;
    flex-flow: column;
}

#navigation {
    font-size: 0.9em;
    background: #003243;
    position: relative;
    z-index: 1000;
    background-image: url('../../assets/Raleigh_skyline_header.jpg');
    background-position: 20% 20%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#Footer {
    margin-top: 20px;
    height: 135px;
}

body {
    margin-bottom: -135px;
    min-height: 100%;
}

#title h3 {
    text-align: left;
    font-size: 2em;
    line-height: 1.3;
    color: #A7C140;    
    margin-left: 5px;
    top: 80px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

@media screen and (max-width: 600px){
#title h3{
    float: none;
    margin: 0;
    width: 100%;
    text-align: center;
}}

