@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .title-row{
    height: 100px !important;
    width: 100% !important;
    white-space: normal !important;
}
img {
   max-width: 100px;
   margin-right: 10px;

}

.mat-title {
    text-align: center;
}

mat-form-field, .mat-headline {
    display: flex;
    justify-content: center;
}

.calculator-row .mat-form-field{
    font-size: initial;
    width: 100%
}

.calculator-row {
    padding: 10px 10px 10px 10px;
}

.mat-headline {
    padding: 10px 0 0 0;
}

.summary {
    display: flex;
    flex-flow: column;
    align-items: center;
}