.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  mat-toolbar-row {
    height: 64px;
    width: 100%;
    white-space: normal !important;
}
img {
   max-width: 50px;
   margin-right: 20px;

}

.mat-title {
    text-align: center;
}