

mat-grid-tile-footer {
    text-align: center
}


mat-icon {
    color: white;
    height: 100px;
    width: 100px;
}



mat-grid-tile {
    cursor: pointer;
}



.gridList1 {
    height: 1200px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2em;
}

.gridList2 {
    height: 600px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2em;
}

.gridList3 {
    height: 600px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2em;
}

.gridList4 {
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2em;
    width: 80%;
}

