    <mat-grid-list [ngClass]="{'gridList1': breakpoint === 1,'gridList2': breakpoint === 2,'gridList3': breakpoint === 3,'gridList4': breakpoint === 4}" class="gridList" rowHeight="fit" gutterSize="10px" [cols]="breakpoint"  (window:resize)="onResize($event)">
      <mat-grid-tile class="dark-class-secondary" (click)="go('building')">
        <mat-icon svgIcon="house"></mat-icon>
        <mat-grid-tile-footer>
          <span mat-line class="mat-subheading-2">BUILDINGS PERMIT FEES</span>
        </mat-grid-tile-footer>            
      </mat-grid-tile>    
  
        <mat-grid-tile class="dark-class-secondary" (click)="go('stormwater')">
          <mat-icon svgIcon="water"></mat-icon>
          <mat-grid-tile-footer>
            <span mat-line class="mat-subheading-2">STORMWATER FEES</span>
          </mat-grid-tile-footer>            
        </mat-grid-tile>    
        <mat-grid-tile class="dark-class-secondary" (click)="go('openspace')">
            <mat-icon svgIcon="parks"></mat-icon>
            <mat-grid-tile-footer>
              <span mat-line class="mat-subheading-2">OPEN SPACE FEES</span>
            </mat-grid-tile-footer>            
          </mat-grid-tile>         
          <mat-grid-tile class="dark-class-secondary" (click)="go('thoroughfare')">
              <mat-icon svgIcon="transportation"></mat-icon>
              <mat-grid-tile-footer>
                <span mat-line class="mat-subheading-2">THOROUGHFARE FEES</span>
              </mat-grid-tile-footer>            
            </mat-grid-tile>         
            <mat-grid-tile class="dark-class-secondary" (click)="go('rightofway')">
                <mat-icon svgIcon="rightofway"></mat-icon>
                <mat-grid-tile-footer>
                  <span mat-line class="mat-subheading-2">RIGHT-OF-WAY OBSTRUCTION FEES</span>
                </mat-grid-tile-footer>            
              </mat-grid-tile>                               
      </mat-grid-list>
