@import 'https://js.arcgis.com/4.25/esri/themes/dark/main.css';
.esri-view {
    width: 100%;
    height: 300px;
}


.mat-dialog-content {
    max-width: none !important;
    width: 50vw !important;
    min-height: 320px !important;
}
