@import url('https://js.arcgis.com/4.7/esri/css/main.css');
.esri-view {
    width: 100%;
    height: 300px;
}


.mat-dialog-content {
    max-width: none !important;
    width: 50vw !important;
    min-height: 320px !important;
}
