<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>Fee Details *</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-list>
          <mat-list-item>
              <h3 mat-line>Valuation</h3>
              <p mat-line *ngIf="calculationService.calculations.valuation > 0">
                  {{calculationService.calculations.valuation | currency:'USD':'symbol':'1.0-0'}}
              </p>
              <p mat-line *ngIf="calculationService.calculations.valuation === 0">
                  --
              </p>                
          </mat-list-item>
          <mat-list-item>
              <h3 mat-line>Building Permit</h3>
              <p mat-line *ngIf="calculationService.calculations.valuation > 0">
                  {{calculationService.calculations.building.value + calculationService.calculations.building.tech | currency:'USD':'symbol':'1.0-0'}}
              </p>
              <p mat-line *ngIf="calculationService.calculations.valuation > 0">
                  <small><em>({{calculationService.calculations.building.value | currency:'USD':'symbol':'1.0-0'}} + {{calculationService.calculations.building.tech | currency:'USD':'symbol':'1.0-0'}} Technology Fee)</em></small>
              </p>                     
              <p mat-line *ngIf="calculationService.calculations.valuation === 0">
                  --
              </p>                   
          </mat-list-item>
          <mat-list-item>
              <h3 mat-line>Electrical Permit</h3>
              <p mat-line *ngIf="calculationService.calculations.valuation > 0">
                  {{calculationService.calculations.electrical.value + calculationService.calculations.electrical.tech | currency:'USD':'symbol':'1.0-0'}}
              </p>
              <p mat-line *ngIf="calculationService.calculations.valuation > 0">
                  <small><em>({{calculationService.calculations.electrical.value | currency:'USD':'symbol':'1.0-0'}} + {{calculationService.calculations.electrical.tech | currency:'USD':'symbol':'1.0-0'}} Technology Fee)</em></small>
              </p>                        
              <p mat-line *ngIf="calculationService.calculations.valuation === 0">
                  --
              </p>                   
          </mat-list-item>
          <mat-list-item>
              <h3 mat-line>Mechanical Permit</h3>
              <p mat-line *ngIf="calculationService.calculations.valuation > 0">
                  {{calculationService.calculations.mechanical.value + calculationService.calculations.mechanical.tech | currency:'USD':'symbol':'1.0-0'}}
              </p>
              <p mat-line *ngIf="calculationService.calculations.valuation > 0">
                  <small><em>({{calculationService.calculations.mechanical.value | currency:'USD':'symbol':'1.0-0'}} + {{calculationService.calculations.mechanical.tech | currency:'USD':'symbol':'1.0-0'}} Technology Fee)</em></small>
              </p>                
              <p mat-line *ngIf="calculationService.calculations.valuation === 0">
                  --
              </p>                   
          </mat-list-item>            
          <mat-list-item>
              <h3 mat-line>Plumbing Permit</h3>
              <p mat-line *ngIf="calculationService.calculations.valuation > 0">
                  {{calculationService.calculations.plumbing.value + calculationService.calculations.plumbing.tech | currency:'USD':'symbol':'1.0-0'}}
              </p>
              <p mat-line *ngIf="calculationService.calculations.valuation > 0">
                  <small><em>({{calculationService.calculations.plumbing.value | currency:'USD':'symbol':'1.0-0'}} + {{calculationService.calculations.plumbing.tech | currency:'USD':'symbol':'1.0-0'}} Technology Fee)</em></small>
              </p>                     
              <p mat-line *ngIf="calculationService.calculations.valuation === 0">
                  --
              </p>                   
          </mat-list-item>
          <mat-list-item>
              <h3 mat-line>Plan Review Fee</h3>
              <p mat-line *ngIf="calculationService.calculations.valuation > 0">
                  {{calculationService.calculations.review.value + calculationService.calculations.review.tech | currency:'USD':'symbol':'1.0-0'}}
              </p>
              <p mat-line *ngIf="calculationService.calculations.valuation > 0">
                  <small><em>({{calculationService.calculations.review.value | currency:'USD':'symbol':'1.0-0'}} + {{calculationService.calculations.review.tech | currency:'USD':'symbol':'1.0-0'}} Technology Fee)</em></small>
              </p>                     
              <p mat-line *ngIf="calculationService.calculations.valuation === 0">
                  --
              </p>                   
          </mat-list-item>            
          <mat-list-item class="total">
              <h3 mat-line>Total Permit</h3>
              <p mat-line *ngIf="calculationService.calculations.valuation > 0">
                  <strong>{{(calculationService.calculations.building.value + calculationService.calculations.building.tech) + (calculationService.calculations.review.value + calculationService.calculations.review.tech) + (calculationService.calculations.electrical.value + calculationService.calculations.electrical.tech) + (calculationService.calculations.plumbing.value + calculationService.calculations.plumbing.tech) + (calculationService.calculations.mechanical.value + calculationService.calculations.mechanical.tech) | currency:'USD':'symbol':'1.0-0'}}</strong>
              </p>
              <p mat-line *ngIf="calculationService.calculations.valuation === 0">
                  --
              </p>                   
          </mat-list-item>
*<small><em> only represents Building and Trade permit fees</em></small>

      </mat-list>
  </mat-card-content>
  <mat-card-actions style="margin:0 auto;">

  </mat-card-actions>
</mat-card>