<mat-card>
  <mat-card-header>
    <mat-card-title>Public Utility Facility Fee Calculator</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-typography">
    <mat-tab-group color="accent">
      <mat-tab label="Infrastructure Approval">
        <mat-card>
          <mat-card-content>
            <div class="inputs">
                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="inRaleigh" (input)="raleighChanged($event)">Project in
                      Raleigh?</mat-checkbox>
      
                  </section>
                  <section class="example-section">
      
                    <mat-form-field matLine color="accent">
                      <input matInput type="number" min="0" max="9999999" matInput maxlength="7" placeholder="Public Water"
                        name="pubWater"  [(ngModel)]="publicutility.linearFeet.publicWater"  (input)="publicWaterChanged($event)">
                      <span matSuffix>linear feet &nbsp;</span>
      
                    </mat-form-field>
                  </section>
                  <section class="example-section">
      
                    <mat-form-field matLine color="accent">
                      <input matInput type="number" min="0" max="9999999" matInput maxlength="7" placeholder="Public Sewer"
                        name="pubSewer" [(ngModel)]="publicutility.linearFeet.publicSewer" (input)="publicSewerChanged($event)">
                      <span matSuffix>linear feet &nbsp;</span>
      
                    </mat-form-field>
                  </section>
      
                  <section class="example-section">
      
                    <mat-form-field matLine color="accent">
                      <input matInput type="number" min="0" max="9999999" matInput maxlength="7"
                        placeholder="Private Sewer (8'' and greater)" name="privSewer1" [(ngModel)]="publicutility.linearFeet.privateSewer8"
                        (input)="privateSewerChanged($event)">
                      <span matSuffix>linear feet &nbsp;</span>
      
                    </mat-form-field>
                  </section>
                  <section class="example-section">
      
                    <mat-form-field matLine color="accent">
                      <input matInput type="number" min="0" max="9999999" matInput maxlength="7"
                        placeholder="Private Sewer w/ Cleanouts" name="privSewer2" [(ngModel)]="publicutility.linearFeet.privateSewerCo"
                        (input)="privateSewerChanged($event)">
                      <span matSuffix>linear feet &nbsp;</span>
      
                    </mat-form-field>
                  </section>
                  <section class="example-section">
      
                    <mat-form-field matLine color="accent">
                      <input matInput type="number" min="0" max="9999999" matInput maxlength="7"
                        placeholder="Private Sewer w/ Manholes" name="privSewer3" [(ngModel)]="publicutility.linearFeet.privateSewerMh"
                        (input)="privateSewerChanged($event)">
                      <span matSuffix>linear feet &nbsp;</span>
      
                    </mat-form-field>
                  </section>
                  <section class="example-section">
      
                    <mat-form-field matLine color="accent">
                      <input matInput type="number" min="0" max="9999999" matInput maxlength="7" placeholder="Public Reuse"
                        name="pubReuse" [(ngModel)]="publicutility.linearFeet.publicReuse" (input)="publicReuseChanged($event)">
                      <span matSuffix>linear feet &nbsp;</span>
      
                    </mat-form-field>
                  </section>
                  <div *ngIf="!inRaleigh">
                    <section class="example-section">
      
                      <mat-form-field matLine color="accent">
                        <input matInput type="number" min="0" max="9999999" matInput maxlength="3"
                          placeholder="# of Water Stubs" name="waterStubs" [(ngModel)]="publicutility.stubQuantities.water"
                          (input)="stubsChanged($event)">
      
      
                      </mat-form-field>
                    </section>
                    <section class="example-section">
      
                      <mat-form-field matLine color="accent">
                        <input matInput type="number" min="0" max="100" matInput maxlength="3" placeholder="# of Water Stubs"
                          name="sewerStubs" [(ngModel)]="publicutility.stubQuantities.sewer" (input)="stubsChanged($event)">
      
                      </mat-form-field>
                    </section>
                    <section class="example-section">
      
                      <mat-form-field matLine color="accent">
                        <input matInput type="number" min="0" max="100" matInput maxlength="3" placeholder="# of Reuse Stubs"
                          name="reuseStubs" [(ngModel)]="publicutility.stubQuantities.reuse" (input)="stubsChanged($event)">
      
                      </mat-form-field>
                    </section>
      
                  </div>
                  <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="pumpStation" (change)="pumpStationSelected($event)">Pump
                      Station?</mat-checkbox>
      
                  </section>
                  
                </div>


            <div *ngFor="let group of publicutility.fees">
              <h2 class="mat-title">{{group.title}}</h2>

              <div fxLayout="column" fxLayout.gt-xs="row">
                <div fxFlex="50%">
                  <mat-list>
                    <div *ngFor="let fee of group.fees;let i = index;">
                      <mat-list-item *ngIf="i%2 === 0">

                        <h3 mat-line>{{fee.title}}</h3>
                        <p mat-line>
                          {{fee.fee | currency:'USD':'symbol':'1.0-0'}}
                        </p>
                      </mat-list-item>
                    </div>
                  </mat-list>
                </div>
                <div fxFlex="50%">
                  <mat-list>
                    <div *ngFor="let fee of group.fees;let i = index;">
                      <mat-list-item *ngIf="i%2 != 0">

                        <h3 mat-line>{{fee.title}}</h3>
                        <p mat-line>
                          {{fee.fee | currency:'USD':'symbol':'1.0-0'}}
                        </p>
                      </mat-list-item>
                    </div>
                  </mat-list>
                </div>

              </div>
            </div>

          </mat-card-content>
          <mat-card-actions>
            <mat-card-subtitle>Infrastructure Approval Fees:
              {{infrastructureTotal | currency:'USD':'symbol':'1.0-0'}}</mat-card-subtitle>

          </mat-card-actions>
        </mat-card>
      </mat-tab>
      <mat-tab label="Capital Facility Fees">
        <mat-card>
          <mat-card-content>


            <div *ngFor="let size of publicutility.meterSizes">

              <div fxLayout="column" fxLayout.gt-xs="row">
                <div fxFlex="10%">
                    <h3>{{size.size}}</h3>

                </div>
                <div fxFlex="45%" *ngFor="let util of size.utilities">
                  <section class="example-section">
                    <mat-form-field matLine color="accent">
                      <input matInput type="number" min="0" max="10000" matInput maxlength="5"
                        placeholder="# of {{util.type}} meters" [(ngModel)]="util.units"
                        (change)="sizeChanged($event, util)">
                    </mat-form-field>
                  </section>
                </div>


              </div>

            </div>
          </mat-card-content>
          <mat-card-actions>
            <mat-card-subtitle>Capital Facility Fees: {{capitalTotal | currency:'USD':'symbol':'1.0-0'}}
            </mat-card-subtitle>

          </mat-card-actions>
        </mat-card>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <mat-card-subtitle>Total Fee: {{infrastructureTotal + capitalTotal| currency:'USD':'symbol':'1.0-0'}}
    </mat-card-subtitle>

  </mat-card-actions>
</mat-card>