@use '@angular/material' as mat;
@include mat.core();



/* For use in src/lib/core/theming/_palette.scss */
$corblue: (
    50 : #e0e6e8,
    100 : #b3c2c7,
    200 : #8099a1,
    300 : #4d707b,
    400 : #26515f,
    500 : #003243,
    600 : #002d3d,
    700 : #002634,
    800 : #001f2c,
    900 : #00131e,
    A100 : #5bb2ff,
    A200 : #289aff,
    A400 : #0081f4,
    A700 : #0074da,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$corgreen: (
    50 : #e9f1e6,
    100 : #c9dcc0,
    200 : #a5c596,
    300 : #80ae6b,
    400 : #659c4c,
    500 : #4a8b2c,
    600 : #438327,
    700 : #3a7821,
    800 : #326e1b,
    900 : #225b10,
    A100 : #a9ff92,
    A200 : #80ff5f,
    A400 : #58ff2c,
    A700 : #43ff13,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$coryellowgreen: (
    50 : #eff5e0,
    100 : #d6e5b3,
    200 : #bbd480,
    300 : #9fc34d,
    400 : #8bb626,
    500 : #76a900,
    600 : #6ea200,
    700 : #639800,
    800 : #598f00,
    900 : #467e00,
    A100 : #d4ffac,
    A200 : #b9ff79,
    A400 : #9fff46,
    A700 : #92ff2c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$my-app-primary: mat.define-palette($corblue);
$my-app-accent:  mat.define-palette($corgreen, 500, 900, A100);
$my-app-warn:    mat.define-palette($coryellowgreen);

$my-app-theme: mat.define-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
$my-dark-theme: mat.define-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);

@mixin my-dark-theme($theme) {
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    .dark-class {
        background-color: mat.get-color-from-palette($accent);
        @include mat.all-component-themes($my-dark-theme);

   }
   .dark-class-secondary {
    background-color: mat.get-color-from-palette($warn);
    @include mat.all-component-themes($my-dark-theme);

}
   .dark-class .mat-form-field-ripple{
        background-color: white;
        
        @include mat.all-component-themes($my-dark-theme);
    }
    
    .dark-class .mat-form-field.mat-focused.mat-primary .mat-form-field-ripple{
        background-color: white;
        
        @include mat.all-component-themes($my-dark-theme);
    }
    .dark-class .mat-form-field.mat-focused.mat-primary .mat-select-arrow{
        color: white;
        
        @include mat.all-component-themes($my-dark-theme);
    }

    .dark-class .mat-focused.mat-primary {
        color: white;
        
        @include mat.all-component-themes($my-dark-theme);       
    }
    .dark-class .mat-select-arrow {
        color: white;
        @include mat.all-component-themes($my-dark-theme);
    }
}
@include my-dark-theme($my-dark-theme);
@include mat.all-component-themes($my-app-theme);