<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img alt="seal" src="https://www.raleighnc.gov/content/static/images/City-Seal-BW.png" />
    <h3>City of Raleigh</h3>
  </mat-toolbar-row>
  <!-- <mat-toolbar-row>
    <span>Thoroughfare Facility Fee Calculator</span>
  </mat-toolbar-row> -->
</mat-toolbar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Thoroughfare Facility Fee Calculator</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
        <mat-tab [label]="fee.landuse" *ngFor="let fee of fees">
          
            <div *ngFor="let record of fee.records;">
                <mat-divider [inset]="true"></mat-divider>

                <mat-form-field>
                  <mat-select placeholder="Select land use" [(ngModel)]="record.landuse" (ngModelChange)="landuseChanged(fee, record.landuse)">
                    <mat-option *ngFor="let fee1 of fee.fees | landuse:fee;let i = index;" [value]="fee1">
                      {{fee1.landuse}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="!record?.landuse?.thresholds && record.landuse">
                  <input matInput type="number" min="0" max="9999999" matInput maxlength="7" [placeholder]="record.landuse?.measureLabel" name="value"
                    [ngModel]="record.value" (ngModelChange)="recordValueChanged(record, $event)">
                </mat-form-field>
                {{record.total|currency}}
                <div *ngIf="record?.landuse?.thresholds" id="single-fam-areas">
                  <div class="threshold-container" *ngFor="let threshold of record.landuse.thresholds">
                    <!-- <div class="threshold-label">Units {{threshold.label}}</div> -->
                    <mat-form-field>
                      <input matInput type="number" min="0" max="9999999" matInput maxlength="7" [placeholder]="threshold.label" name="value"
                        [ngModel]="threshold.value" (ngModelChange)="thresholdValueChanged(threshold, record, $event)">
                    </mat-form-field>
                    
                  </div>
                </div>
          
              </div>      
              <button mat-button mat-raised-button color="primary" (click)="addRecord(fee)">ADD</button>
    
        </mat-tab>
      </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
      <mat-card-subtitle>Total Fee: {{total|currency}}</mat-card-subtitle>

  </mat-card-actions>
</mat-card>
