<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img alt="seal" src="https://www.raleighnc.gov/content/static/images/City-Seal-BW.png" />
    <h3>City of Raleigh</h3>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Thoroughfare Permit Calculator</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card" *ngFor="let fee of fees">
  <mat-card-header>
    <mat-card-title>
      <h3>{{fee.landuse}}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div *ngFor="let record of fee.records;">
          <mat-form-field>
              <mat-select placeholder="Landuse"  [(ngModel)]="record.landuse">
                <mat-option *ngFor="let fee1 of fee.fees;"
                  [value]="fee1">
                  {{fee1.landuse}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="!record?.landuse?.thresholds && record.landuse">
                <input matInput type="number" min="0" max="9999999" matInput maxlength="7" [placeholder]="record.landuse?.measureLabel"
                  name="value"  [ngModel]="record.value" (ngModelChange)="recordValueChanged(record, $event)">
            </mat-form-field> 
            <div *ngIf="record?.landuse?.thresholds" id="single-fam-areas">
                <div *ngFor="let threshold of record.landuse.thresholds">
                  
                <mat-form-field>
                    <input matInput type="number" min="0" max="9999999" matInput maxlength="7" [placeholder]="record.landuse?.measureLabel"
                      name="value"  [ngModel]="threshold.value" (ngModelChange)="thresholdValueChanged(threshold, record, $event)">
                </mat-form-field>
                {{threshold.label}} 
                </div>
            </div>

      </div>
  </mat-card-content>

  <mat-card-actions style="margin:0 auto;">
      <button mat-button mat-raised-button color="primary" (click)="addRecord(fee)">ADD</button>
    </mat-card-actions>  

</mat-card>
<h3 class="mat-title">{{total|currency}}</h3>
